Source: fonts-sambhota-tsugring
Maintainer: scratch <krishnan.n@gai.co.in>
Priority: optional
Section: fonts
Standards-Version: 3.9.8
Homepage: http://www.aliadne.net/tibet
Build-Depends: debhelper (>= 9)
Vcs-Git: https://anonscm.debian.org/git/debian-in/fonts-sambhota-tsugring.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-in/fonts-sambhota-tsugring.git

Package: fonts-sambhota-tsugring
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: sambhota tsugring free OpenType Tibetan font
 This is a free Tibetan dbu-med OpenType Font, designed by Dezawa Shin-ichiro
 based on a font by Tibetan Dharamusara. 
